  <div class="batch_info">
    <dl class="dl-horizontal">
      <dt>Batch Id</dt><dd><%= batch.id %></dd>
      <dt>Type</dt><dd><%= batch.type %></dd>
      <dt>Record Count</dt><dd><%= batch.count %></dd>
      <dt>Creator</dt><dd><%= batch.creator %></dd>
      <dt>Created At</dt><dd><%= batch.created_at %></dd>
      <dt>Status</dt><dd><%= batch.status %></dd>
    </dl>
  </div>
