<div class="col-sm-12">
  <h1>Batches</h1>

  <div class="batches">
    <table id="batch-table" class="table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Batch Type</th>
          <th>Creator</th>
          <th>Created at</th>
          <th>Items</th>
          <th>Status</th>
        </tr>
        <thead>
        <tbody>
      <% @batches.each do |batch| %>
        <tr>
          <td class="batch_id"><%= link_to batch.id, batch.path %></td>
          <td class="type"><%= batch.type%></td>
          <td class="creator"><%= batch.creator %></td>
          <td class="created_at"><%= time_ago_in_words(batch.created_at) %> ago</td>
          <td class="count"><%= batch.count %></td>
          <td class="status"><%= batch.status %></td>
        </tr>
      <% end %>
       </tbody>
    </table>
    <script>
     $('#batch-table').DataTable()
    </script>
  </div>
</div>
