<div class="col-sm-12">
  <h1>Deposit Form for the Tufts Digital Library</h1>

  <%# Diplay the following content if the viewer is not logged in %>
  <% if current_user.nil? %>
      <p>From this page you may deposit your scholarly work to the Tufts Digital Library. This service is available for:

      <ul>
        <% DepositType.all.sort_by{|dt| dt.display_name.downcase}.each do |dt| %>
            <li><%= dt.display_name %></li>
        <% end %>
      </ul>

      Depositing your material to the Tufts Digital Library will require you to upload your file(s) and agree to
      the <a href='contribute/license'>Tufts Digital Library terms and conditions</a>.</p>

      <p>Submission of certain types of materials may be restricted pending approval of the relevant school or department.
        Please contact your school or department for additional information.</p>

      <p>To submit your scholarship, log in using your Tufts username and password.  </p>

      <p><%= link_to "Login", new_user_session_path, class: 'btn-primary btn' %></p>

      <p><a href="http://uit.tufts.edu/?pid=744">Tufts Simplified Sign-On Enabled</a></p>


  <%# Display the following options for logged in users %>
  <% else %>
    <p>From this page you may deposit your scholarly work to the Tufts Digital Library.</p>

    <div class="row">
      <div class="col-sm-6">
        <%= form_tag({controller: :contribute, action: :new}, method: :get, class: 'well') do %>
          <div class="form-group">
            <%= label_tag(:deposit_type, "Please select a deposit type") -%>
            <%= select_tag :deposit_type, options_from_collection_for_select(DepositType.all.sort_by{|dt| dt.display_name.downcase}, :id, :display_name), prompt: 'Select a deposit type', class: 'form-control' %><br/>
          </div>
          <%= submit_tag "Begin", class: 'btn-primary btn'  %>
        <% end %>
      </div>
    </div>
    <p>Depositing your material to the Tufts Digital Library will require you to upload your file(s) and agree to
    the <a href='contribute/license'>Tufts Digital Library terms and conditions</a>.</p>

    <p>Submission of certain types of materials may be restricted pending approval of the relevant school or department.
      Please contact your school or department for additional information.</p>

  <% end %>
</div>
