<div class="col-sm-12">
<h1 class='contribute-header'>Contribute a new document</h1>
<h5><%= @deposit_type.display_name %></h5>
<%# NOTE: this form uses bootstrap_form_for and bootstrap_forms helpers - see: https://github.com/sethvargo/bootstrap_forms %>

<%= bootstrap_form_for @contribution, url: contributions_path, as: 'contribution', multipart: true, :html=>{ class: 'form-horizontal editor contribute-form', novalidate: true } do |f| %>
    <% unless @deposit_type.deposit_view == 'gis_poster' %>
      <div class="alert alert-info contribute-alert"> <strong> Note: </strong> &nbsp;
        All fields are required unless marked optional.
      </div> <br />
    <% end %>

    <% if @deposit_type.deposit_view == 'gis_poster' %>
      <div class="well contribute-file-upload">
        <%= f.file_field :attachment, label: 'PDF to upload', accept: 'application/pdf', required: 'required'%>
      </div>
      <% else %>
      <div class="well contribute-file-upload">
        <%= f.file_field :attachment, label: 'PDF to upload', accept: 'application/pdf', html: { class: 'well' } %>
      </div>
    <% end %>
    <%= render "contribute/deposit_view/#{@deposit_type.deposit_view}", :f => f  %>
    <%= hidden_field_tag 'deposit_type', @deposit_type.id %>

    <div class="well">
      <h4>Deposit Agreement</h4>
      <p><%= raw @deposit_type.deposit_agreement %></p>
    </div>

    <ul>
      <li>
        <%= f.submit 'Agree & Deposit', class: 'btn btn-primary' %>
      </li>
      <li>
        <%= link_to 'Cancel', contributions_path,  class: 'btn btn btn-default' %>
      </li>
    </ul>

    <div class='well' id='deposit-questions'>
      Technical questions? <a target="_blank" href="http://dca.tufts.edu/contact/">Contact DCA</a>.
      Other questions? <a target="_blank"href="http://www.library.tufts.edu/ginn/forms/forms.aspx?form=department&department=Reference">Contact Ginn Library</a>.
    </div>
    <div class='clearfix'></div>


<% end %>
</div>
