<li class="h5">Self Deposit</li>
<%= menu.nav_link('/deposit_types') do %>
<span class="sidebar-action-text">Manage self-deposit types</span>
<% end %>

<%= menu.nav_link('/contribute') do %>
<span class="sidebar-action-text">Contribute new self-deposit item</span>
<% end %>

<li class="h5">Handle.net</li>
<%= menu.nav_link('/handle/log.html') do %>
<span class="sidebar-action-text">Handle.net Error Log</span>
<% end %>

<li class="h5">Templates</li>
<%= menu.nav_link('/templates') do %>
<span class="sidebar-action-text">Manage Metadata Templates</span>
<% end %>

<% if can? :review, :submissions %>
<li class="h5"><%= t('hyrax.admin.sidebar.tasks') %></li>
<%= menu.nav_link(hyrax.admin_workflows_path) do %>
<span class="fa fa-flag"></span> <span class="sidebar-action-text"><%= t('hyrax.admin.sidebar.workflow_review') %></span>
<% end %>
<% end %>

<% if can? :manage, User %>
<%= menu.nav_link(hyrax.admin_users_path) do %>
<span class="fa fa-user"></span> <span class="sidebar-action-text"><%= t('hyrax.admin.sidebar.users') %></span>
<% end %>
<% end %>
