<% if current_user.admin? %>
    <% if can? :review, :submissions %>
        <li class="h5"><%= t('hyrax.admin.sidebar.tasks') %></li>
        <%= menu.nav_link(hyrax.admin_workflows_path) do %>
            <span class="fa fa-flag"></span><span class="sidebar-action-text"><%= t('hyrax.admin.sidebar.workflow_review') %></span>
        <% end %>
    <% end %>

    <%= menu.nav_link('/advanced') do %>
        <span class="fa fa-search"></span><span class="sidebar-action-text">Advanced Search</span>
    <% end %>

    <%= menu.nav_link('/deposit_types') do %>
        <span class="fa fa-list"></span><span class="sidebar-action-text">Manage Self-Deposit Types</span>
    <% end %>
<% end %>

<!-- non-admin users can contribute new documents -->
<%= menu.nav_link('/contribute') do %>
    <span class="fa fa-book"></span><span class="sidebar-action-text">New Self-Deposit Item</span>
<% end %>
<!-- end contribution -->

<% if current_user.admin? %>
    <%= menu.nav_link('/handle/log.html') do %>
        <span class="fa fa-exclamation-triangle"></span><span class="sidebar-action-text">View Handle.net Error Log</span>
    <% end %>

    <%= menu.nav_link('/batches', data: { turbolinks: false }) do %>
        <span class="fa fa-info-circle"></span><span class="sidebar-action-text">View Batch Statuses</span>
    <% end %>

    <%= menu.nav_link('/sidekiq',  data: { turbolinks: false }) do %>
        <span class="fa fa-hourglass-half"></span><span class="sidebar-action-text">View Background Job Queues</span>
    <% end %>

    <%= menu.nav_link('/templates') do %>
        <span class="fa fa-list-alt"></span><span class="sidebar-action-text">Manage Metadata Templates</span>
    <% end %>

    <li class="h5">Import/Export</li>

    <%= menu.nav_link('/xml_imports/new') do %>
        <span class="fa fa-archive"></span><span class="sidebar-action-text">Import Objects</span>
    <% end %>

    <%= menu.nav_link('/metadata_imports/new') do %>
        <span class="fa fa-code"></span><span class="sidebar-action-text">Import Metadata</span>
    <% end %>

    <% if can? :manage, User %>
        <%= menu.nav_link(hyrax.admin_users_path) do %>
            <span class="fa fa-user"></span> <span class="sidebar-action-text"><%= t('hyrax.admin.sidebar.users') %></span>
        <% end %>
    <% end %>
<% end %>
