<%= form_for [main_app, @update] do |f| %>
  <% @update.ids.each do |id| %>
    <%= f.hidden_field :ids, multiple: true, value: id %>
  <% end %>

  <div class='well' id='template-name'>
    <%= f.label  :template_name, 'Apply Template: ' %>
    <%= f.select :template_name, options_from_collection_for_select(Tufts::Template.all, :name, :name, @update.template_name), { prompt: 'Please Select' }, { class: 'template-select' }  %>
  </div>

  <div class='well' id='template-behavior'>
    <%= f.label :behavior, 'Template Behavior' %>
    - Blank fields in templates have no effect in either option and leave existing metadata in those fields as-is.
    <div class='form-group'>
      <div class='radio-label'>
        <%= f.radio_button :behavior, TemplateUpdate::PRESERVE, checked: true %>
        <strong> Preserve: </strong> &nbsp;
        Append template metadata to blank and multivalued fields.
      </div>
    </div>

    <div class='form-group'>
      <div class='radio-label'>
        <%= f.radio_button :behavior, TemplateUpdate::OVERWRITE %>
        <strong> Overwrite: </strong> &nbsp;
        Replace exisiting metadata with non-blank entries from the template. <em>Use this option with caution</em>.
      </div>
    </div>
  </div>

  <%= f.submit "Apply Template", class: 'btn btn-primary' %>
  <%= link_to "Cancel", :back, :class=>'btn btn-default' %>
<% end %>
