<h1>Manage Deposit Types</h1>
<div class='clear'></div>

<table>
  <tr>
    <th> Type </th>
    <th> View </th>
    <th> License </th>
    <th> Agreement </th>
  </tr>

  <% @deposit_types.each do |deposit_type| %>
    <tr>
      <td class='display_name'> <%= link_to deposit_type.display_name, deposit_type_path(deposit_type) %> </td>
      <td class='deposit_view'> <%= deposit_type.deposit_view %> </td>
      <td class='license_name'> <%= deposit_type.license_name %> </td>
      <td class='deposit_agreement'> <%= truncate(deposit_type.deposit_agreement, length: 60) %> </td>
    </tr>
  <% end %>
</table>

<p><%= link_to 'Add a New Deposit Type', new_deposit_type_path, class: 'btn btn-primary' %></p>
<p><%= link_to 'Export Deposit Type Data', export_deposit_types_path, class: 'btn float-right' %></p>
