<%= link_to '< Back to Deposit Types', deposit_types_path %>

<h1>Deposit Type:&nbsp; <%=@deposit_type.display_name%></h1>

<p>
  <b>View: </b> &nbsp;
  <%= @deposit_type.deposit_view %>
</p>

<p>
  <b>License name: </b> &nbsp;
  <%= @deposit_type.license_name %>
</p>

<p>
  <b>Deposit Agreement: </b> <br />
  <%= raw @deposit_type.deposit_agreement %>
</p>

<%= link_to 'Edit', edit_deposit_type_path(@deposit_type), class: 'btn btn-primary' %>

<%= link_to 'Destroy', deposit_type_path(@deposit_type), :confirm => "Permanently delete the deposit type: #{@deposit_type.display_name}.  \nAre you sure?", :method => :delete, class: 'btn float-right btn-danger' %>
