<%# NOTE: this form uses bootstrap_form_for and bootstrap_forms helpers - see: https://github.com/sethvargo/bootstrap_forms %>

<script>var Handlebars = require('handlebars')</script>
<script>gisBehavior()</script>

<%= f.text_field :title, label: 'Title', required: 'required' %>

<%= f.text_field :creator, label: 'Creator', value: @contribution.creator, required: true, readonly: 'readonly'  %>

<% if params['contribution'] && params['contribution']['contributor'] %>
  <%= react_component('ContributeOtherAuthors', {contributor: params['contribution']['contributor']}, {camelize_props: true}) %>
<% else %>
  <%= react_component('ContributeOtherAuthors', {contributor: []}, {camelize_props: true}) %>
<% end %>

<div class="checkbox_container">
<%= f.collection_check_boxes :degrees, GisHelper.degrees, :last, :last, help: 'Degree which you were persuing while working on this poster.' %>
</div>
<div class="checkbox_container">
<%= f.collection_check_boxes :schools, GisHelper.gis_schools, :first, :last, help: 'Please specify your school affiliation(s).' %>
</div>
<div id="department_picker">
<%= f.collection_check_boxes :departments, GisHelper.departments, :first, :last, help: 'Department(s) you were affiliated with while working on this poster.' %>
</div>
<%= f.collection_check_boxes :courses, GisHelper.gis_courses, :first, :last, help: 'Course(s) in which this poster was completed.' %>

<div class="form-group">
  <label class="control-label" for="semester">Semester</label>
  <div class="checkbox">
      <select class="form-control double-selection" name="contribution[term]" id="term">
          <option <%= 'selected="selected"' if @contribution.term == "Fall"%>>Fall</option>
          <option <%= 'selected="selected"' if @contribution.term == "Spring"%>>Spring</option>
          <option <%= 'selected="selected"' if @contribution.term == "Summer"%>>Summer</option>
      </select>
      <select data-selection="<%= @contribution.year %>" class="form-control double-selection" name="contribution[year]" id="year">
      </select>
  </div>
  <span class="help-block">Semester in which this poster was completed.</span>
</div>

<%= f.hidden_field :description, value: 'throw away' %>
<%= f.text_field :geonames_placeholder, label: 'Place Keywords', class: 'geonames', help: 'Please select places this poster pertains to. Note: field with autocomplete with values via GeoNames API' %>

<div id="geotextarea" contenteditable="false">
  <% unless @contribution.geonames.nil? %>
      <% @contribution.geonames.each do |item| %>
          <button type="button" class="remove-geoname btn btn-default"><span class="glyphicon glyphicon-remove" aria-hidden="true"><span>&nbsp;<%= item %></span>
    <input type="hidden" name="contribution[geonames][]" value="<%= item %>"></span></button>
      <% end %>
  <% end %>

</div>


<div class="form-group">
  <label class="control-label" for="themes">Thematic Category</label>
  <div class="checkbox">
  <select class="form-control double-selection" id="themes">

  </select>
  <select class="form-control double-selection" id="topics">
    <%= raw GisHelper.gis_categories_options %>
  </select>
    <span class="help-block">Please select categories this poster pertains to.</span>
  </div>

</div>

<div id="categories_textarea">
  <% unless @contribution.topics.nil? %>
      <% @contribution.topics.each do |item| %>
          <button type="button" class="remove-geoname btn btn-default"><span class="glyphicon glyphicon-remove" aria-hidden="true"><span>&nbsp;<%= item %></span>
    <input type="hidden" name="contribution[topics][]" value="<%= item %>"></span></button>
      <% end %>
  <% end %>
</div>
<div class="checkbox_container">
<%= f.collection_check_boxes :methodological_keywords, GisHelper.methodological_keywords, :first, :last, help: 'Please select methodologies used in this project.' %>
</div>
