<%= render 'form_media', f: f %>

<% if @curation_concern.class.to_s == 'Audio' || @curation_concern.class.to_s == 'Video' %>
  <div class="well transcript-selection">
    <%= render_edit_field_partial(:transcript_id, f: f) %>
  </div>
<% end %>

<div class='base-terms'>
<%= render_edit_field_partial(:title,  f: f) %>
<%= render_edit_field_partial(:displays_in,  f: f) %>
<%= render_edit_field_partial(:abstract,  f: f) %>
<%= render_edit_field_partial(:accrual_policy,  f: f) %>
<%= render_edit_field_partial(:alternative_title,  f: f) %>
<%= render_edit_field_partial(:audience,  f: f) %>
<%= render_edit_field_partial(:bibliographic_citation,  f: f) %>
<%= render_edit_field_partial(:contributor,  f: f) %>
<%= render_edit_field_partial(:corporate_name,  f: f) %>
<%= render_edit_field_partial(:createdby,  f: f) %>
<%= render_edit_field_partial(:creator,  f: f) %>
<%= render_edit_field_partial(:creator_department,  f: f) %>
<%= render_edit_field_partial(:date_accepted,  f: f) %>
<%= render_edit_field_partial(:date_available,  f: f) %>
<%= render_edit_field_partial(:date_copyrighted,  f: f) %>
<%= render_edit_field_partial(:date_created,  f: f) %>
<%= render_edit_field_partial(:date_issued,  f: f) %>
<%= render_edit_field_partial(:depositor,  f: f) %>
<%= render_edit_field_partial(:description,  f: f) %>
<%= render_edit_field_partial(:embargo_note,  f: f) %>
<%= render_edit_field_partial(:end_date,  f: f) %>
<%= render_edit_field_partial(:extent,  f: f) %>
<%= render_edit_field_partial(:format_label,  f: f) %>
<%= render_edit_field_partial(:funder,  f: f) %>
<%= render_edit_field_partial(:genre,  f: f) %>
<%= render_edit_field_partial(:has_format,  f: f) %>
<%= render_edit_field_partial(:has_part,  f: f) %>
<%= render_edit_field_partial(:held_by,  f: f) %>
<%= render_edit_field_partial(:internal_note,  f: f) %>
<%= render_edit_field_partial(:is_format_of,  f: f) %>
<%= render_edit_field_partial(:is_part_of,  f: f) %>
<%= render_edit_field_partial(:is_replaced_by,  f: f) %>
<%= render_edit_field_partial(:language,  f: f) %>
<%= render_edit_field_partial(:legacy_pid,  f: f) %>
<%= render_edit_field_partial(:license,  f: f) %>
<%= render_edit_field_partial(:identifier,  f: f) %>
<%= render_edit_field_partial(:personal_name,  f: f) %>
<%= render_edit_field_partial(:primary_date,  f: f) %>
<%= render_edit_field_partial(:provenance,  f: f) %>
<%= render_edit_field_partial(:publisher,  f: f) %>
<%= render_edit_field_partial(:qr_note,  f: f) %>
<%= render_edit_field_partial(:qr_status,  f: f) %>
<%= render_edit_field_partial(:rejection_reason,  f: f) %>
<%= render_edit_field_partial(:replaces,  f: f) %>
<%= render_edit_field_partial(:retention_period,  f: f) %>
<%= render_edit_field_partial(:rights_holder,  f: f) %>
<%= render_edit_field_partial(:rights_note,  f: f) %>
<%= render_edit_field_partial(:rights_statement,  f: f) %>
<%= render_edit_field_partial(:source,  f: f) %>
<%= render_edit_field_partial(:admin_start_date,  f: f) %>
<%= render_edit_field_partial(:geographic_name,  f: f) %>
<%= render_edit_field_partial(:steward,  f: f) %>
<%= render_edit_field_partial(:subject,  f: f) %>
<%= render_edit_field_partial(:table_of_contents,  f: f) %>
<%= render_edit_field_partial(:temporal,  f: f) %>
<%= render_edit_field_partial(:tufts_license,  f: f) %>
<%= render_edit_field_partial(:resource_type,  f: f) %>
</div>
